@import '/src/styles/global.scss';

.parallax {
  overflow: hidden;
  margin: 0;
  min-width: 150vw;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;

  transform: translateX(-12%);

  color: $c-white;
  padding: 0.2vw 0;

  &--blue {
    background-color: $c-blue;
  }

  &--black {
    background-color: $c-black;
  }
  
  .scroller {
    font-weight: 400;
    display: flex;
    flex-wrap: nowrap;
    gap: 1vw;
  }
}