@import '/src/styles/global.scss';

.home {
  &__content  {
    display: flex;
    flex-direction: column;
    gap: calc($gap * 8);

    margin-top: 50lvh;

                // todo DELETE
                margin-bottom: 100lvh;
  }
}