@import "./variables";

@mixin forMobiles() {
  @media screen and (max-aspect-ratio: 2/3) {
    @content;
  }
}

@mixin grid() {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2.5vw;
}
