$c-white: #ededed;
$c-black: #0f0f0f;
$c-blue: #3300ff;

$g-100: #c8c8c8;
$g-50: #dcdcdc;

$g--blured: #87878728;

/* -- Media Query Breakpoints -- */
$phone: 320;
$phablet: 556;
$tablet: 768;
$tablet-large: 1024;
$laptop: 1199;
$desktop: 1440;
