@import "/src/styles/global.scss";

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;

  background-color: $g--blured;
  backdrop-filter: blur(1vw);
  padding: 1vw 1.5vw;
  border-radius: 0.8vw;

  position: fixed;
  left: 50%;
  bottom: 5vh;
  transform: translateX(-50%);
  
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 1.8vw;
    height: 100%;

    @include forMobiles() {
      display: none;
    }
  }

  &__logo {
    height: 80%;
    position: relative;
    z-index: 100;

    @include forMobiles() {
      width: 14.7vw;
      height: 13.5vw;
    }
  }

  &__list-links {
    display: flex;
    align-items: center;
    gap: 0.5vw;

    @include forMobiles() {
      display: none;
    }
  }

  &__link {
    padding: 0.5vw 0.7vw;
    position: relative;
    z-index: 1;
    
    & > span {
      position: relative;
      z-index: 1;  
    }
  }

  &__nav {
    // @include forMobiles() {
    //   display: none;
    // }
  }
}
